In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from scipy.stats import chi2_contingency
import seaborn as sns
from collections import Counter
from sklearn.decomposition import PCA
df2=pd.read_csv("fileSSSS.csv")

In [16]:
df=df2.copy()

In [19]:
Brand=df["brand"].unique()

In [21]:
for i in range(len(Brand)):
    if(Brand[i] in df.brand.values):
        df.loc[df["brand"]==Brand[i],"brand"] = int(i+1)

In [23]:
typeofVeicle=df["typeofVeicle"].unique()
for i in range(len(typeofVeicle)):
    if(typeofVeicle[i] in df.typeofVeicle.values):
        df.loc[df["typeofVeicle"]==typeofVeicle[i],"typeofVeicle"] = int(i+1)

In [28]:
Gasoline=df["Gasoline"].unique()
for i in range(len(Gasoline)):
    if(Gasoline[i] in df.Gasoline.values):
        df.loc[df["Gasoline"]==Gasoline[i],"Gasoline"] = int(i+1)

In [34]:
df.drop(['Unnamed: 0.1.1.1.1.1.1'], axis=1,inplace=True)

In [36]:
df = df.rename(columns={'typeofVeicle': 'Brand' , "brand":"Type of Vehicle","country":"Country","Gasoline":"Engine Type"})

In [40]:
bins=[1000,2000,3000,4000,5000,6000,10000]
labels=[1,2,3,4,5,6]
df['EngineSize'] = pd.cut(df['EngineSize'], bins=bins, labels=labels)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15631 entries, 0 to 15630
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   number           15631 non-null  int64
 1   Brand            15631 non-null  int32
 2   Type of Vehicle  15631 non-null  int32
 3   degemRehev       15631 non-null  object
 4   Production Year  15631 non-null  int32
 5   EngineSize       14942 non-null  category
 6   Country          15631 non-null  int32
 7   LastTestDT       15631 non-null  int64
 8   TokefDT          15631 non-null  int64
 9   Importer         15631 non-null  int32
 10  RoadDT           15631 non-null  int64
 11  Engine Type      15631 non-null  int32
dtypes: category(1), int32(6), int64(4), object(1)
memory usage: 992.5+ KB

In [43]:
df

,number,Brand,Type of Vehicle,degemRehev,Production Year,EngineSize,Country,LastTestDT,TokefDT,Importer,RoadDT,Engine Type
0,9933579,1,1,CK1506,2017.0,6,1,2021,2022,1,2017,1
1,9350173,2,1,אוברלנ שירוקי R6GG,2011.0,3,1,2021,2022,1,2011,1
2,9191555,3,1,מרקורי 3F92,1974.0,5,1,2021,2022,1,1974,1
3,9751173,4,1,סיינהGSL30L-PRTQKA,2012.0,3,1,2021,2022,1,2012,1
4,9990273,5,1,ZF13,2012.0,1,2,2020,2022,1,2012,1
...,...,...,...,...,...,...,...,...,...,...,...,...
15626,9888872,8,1,35D X5,2011.0,2,1,2021,2022,1,2011,4
15627,9532372,3,1,J5A,2011.0,3,1,2021,2022,1,2011,1
15628,9217572,4,1,GGL15L-CWTGKA,2011.0,3,1,2021,2022,2,2011,1
15629,9429478,9,1,ROVER EVOAUE A2BE,2015.0,2,5,2021,2022,1,2015,4
15630,9905174,4,1,GGL15L-CWTGKA,2012.0,3,4,2021,2022,1,2012,1

In [48]:
df.corr()

,number,Brand,Type of Vehicle,Production Year,Country,LastTestDT,TokefDT,Importer,RoadDT,Engine Type
number,1.000000,-0.058362,-0.072768,0.370347,0.057370,-0.092311,0.051524,0.011459,0.370347,0.121340
Brand,-0.058362,1.000000,0.355738,-0.236393,0.353417,-0.069701,-0.000908,0.114780,-0.236393,-0.000202
Type of Vehicle,-0.072768,0.355738,1.000000,-0.186534,0.026286,-0.062869,0.034077,0.156641,-0.186534,0.019421
Production Year,0.370347,-0.236393,-0.186534,1.000000,0.002234,0.013276,0.021403,0.153613,1.000000,0.239218
Country,0.057370,0.353417,0.026286,0.002234,1.000000,-0.036146,-0.000225,0.093291,0.002234,0.131322
LastTestDT,-0.092311,-0.069701,-0.062869,0.013276,-0.036146,1.000000,0.522264,-0.126603,0.013276,-0.004113
TokefDT,0.051524,-0.000908,0.034077,0.021403,-0.000225,0.522264,1.000000,0.009246,0.021403,0.012391
Importer,0.011459,0.114780,0.156641,0.153613,0.093291,-0.126603,0.009246,1.000000,0.153613,0.041605
RoadDT,0.370347,-0.236393,-0.186534,1.000000,0.002234,0.013276,0.021403,0.153613,1.000000,0.239218
Engine Type,0.121340,-0.000202,0.019421,0.239218,0.131322,-0.004113,0.012391,0.041605,0.239218,1.000000

In [58]:
dftry=df.copy()

In [66]:
outliers=["Country","Brand","Type of Vehicle"]

In [59]:
for col in outliers:
    if(dftry[col].dtype!=object):
        Q1=np.percentile(dftry[col],15)
        Q3=np.percentile(dftry[col],85)
        IQR=Q3-Q1
        IQR_Range=1.5*IQR
        dftry[col][(dftry[col]< Q1-IQR_Range) | (dftry[col] > Q3+IQR_Range)]=np.nan

In [60]:
df.isnull().sum()
df.dropna(axis=0, inplace=True)

Unnamed: 0            0
number                0
Brand               798
Type of Vehicle    1874
degemRehev            0
Production Year       0
EngineSize          689
Country             827
LastTestDT            0
TokefDT               0
Importer              0
RoadDT                0
Engine Type           0
dtype: int64

,Unnamed: 0,number,Brand,Type of Vehicle,degemRehev,Production Year,EngineSize,Country,LastTestDT,TokefDT,Importer,RoadDT,Engine Type
0,0,9933579,1.0,1.0,CK1506,2017,6.0,1.0,2021,2022,1,2017,1
1,1,9350173,2.0,1.0,אוברלנ שירוקי R6GG,2011,3.0,1.0,2021,2022,1,2011,1
2,2,9191555,3.0,1.0,מרקורי 3F92,1974,5.0,1.0,2021,2022,1,1974,1
3,3,9751173,4.0,1.0,סיינהGSL30L-PRTQKA,2012,3.0,1.0,2021,2022,1,2012,1
4,4,9990273,5.0,1.0,ZF13,2012,1.0,2.0,2020,2022,1,2012,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15626,15626,9888872,8.0,1.0,35D X5,2011,2.0,1.0,2021,2022,1,2011,4
15627,15627,9532372,3.0,1.0,J5A,2011,3.0,1.0,2021,2022,1,2011,1
15628,15628,9217572,4.0,1.0,GGL15L-CWTGKA,2011,3.0,1.0,2021,2022,2,2011,1
15629,15629,9429478,9.0,1.0,ROVER EVOAUE A2BE,2015,2.0,5.0,2021,2022,1,2015,4
15630,15630,9905174,4.0,1.0,GGL15L-CWTGKA,2012,3.0,4.0,2021,2022,1,2012,1